<%= form_for(@multum) do |f| %>
  <% if @multum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multum.errors.count, "error") %> prohibited this multum from being saved:</h2>

      <ul>
      <% @multum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
