<div class="container" class="valign-wrapper" align="center">
	<div class="card-panel red darken-3 white-text">
		<h4><i class="fa fa-times"></i>
 El pedido ha sido rechazado.</h4>
		<div class="divider"></div>

		<h5>El motivo puede darse por muchas razones:</h5>
		<p>Las fechas del pedido no son válidas</p>
		<p>Los disfrazes no están disponibles en esas fechas</p>
		<p>No tenemos el stock que nos solicitas</p>
		<p>Sobrepasas la cantidad de disfraces que puedes pedir.</p>
		<div class="divider"></div>
		<p>Te solicitamos que revises esta información en tu carrito y realices nuevamente tu pedido</p>
		<div class="container">
			<%= link_to 'Ir a mi Carrito', '/carrito' ,class: 'waves-effect waves-light btn black-text white'%>
		</div>
	</div>
</div>