<%= form_for(@ejemplar) do |f| %>
  <% if @ejemplar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ejemplar.errors.count, "error") %> prohibited this ejemplar from being saved:</h2>

      <ul>
      <% @ejemplar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
