<div class="container">
    <div class="col s12 m4 l7"><p> </p>
      <div class="card-panel" >
          <h2><i class="medium material-icons">clear_all</i>Editar Ejemplar </h2>
			<%= render 'form' %>
</div>
</div>
</div>