<%= form_for(@ejemplar_estado) do |f| %>
  <% if @ejemplar_estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ejemplar_estado.errors.count, "error") %> prohibited this ejemplar_estado from being saved:</h2>

      <ul>
      <% @ejemplar_estado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
