<p id="notice"><%= notice %></p>
<div class="container">


    <div class="col s12 m4 l7"><p> </p>
      <div class="card-panel" >
          <h2><i class="fa fa-user"></i>Nueva Categoría</h2>
			<%= render 'form' %>
</div>
</div>
</div>

