<h1>Listing transicion_est_ejemplars</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transicion_est_ejemplars.each do |transicion_est_ejemplar| %>
      <tr>
        <td><%= link_to 'Show', transicion_est_ejemplar %></td>
        <td><%= link_to 'Edit', edit_transicion_est_ejemplar_path(transicion_est_ejemplar) %></td>
        <td><%= link_to 'Destroy', transicion_est_ejemplar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transicion est ejemplar', new_transicion_est_ejemplar_path %>
