<!--<h1>Home#acerca</h1>
<p>Find me in app/views/home/acerca.html.erb</p>-->
<div class="row">
	<div class="container">
	<div class="card-panel">
	<h1 align="center">Nosotros</h1>

	<div align="center">
				
		<p>Somos una empresa en desarrollo, la cual busca generar confianza dentro de nuestros clientes dándoles un trato especial a cada uno.</p>

		<p>Con nosotros podrás encontrar una gama amplia de disfraces, los trajes que mas te gusten para hacer de tus momentos, los mejores !</p>
				

	</div>
	<h2 align="center">Ubicación</h2>
	<div align="center">
		<p>Encuentranos en nuestra tienda ubicada en Maipú, dirección Comuna de Maipú, calle ---- Número #--- o bien en el mapa:</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106446.99730952039!2d-70.8260901!3d-33.51519854999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662e807c399a1c3%3A0xa38012b30bc6ebeb!2sMaip%C3%BA%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1454572665150" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

	<h2 align="center">Redes Sociales</h2>
	<div align="center">
		<p> Además, puedes comunicarte con nosotros vía redes sociales</p>
		<a target="_blank" href="http://www.facebook.com/usuario"><img src="https://image.freepik.com/iconos-gratis/facebook-signo-de-letra-f-en-una-redondeada-forma-cuadrada-negro_318-41821.jpg" width="40" height="40"></a>
		<a target="_blank" href="http://www.instagram.com/usuario"><img src="https://image.freepik.com/iconos-gratis/logo-instagram-sociales_318-28774.png" width="40" height="40"></a>
		<a target="_blank" href="http://www.twitter.com/usuario"><img src="https://image.freepik.com/iconos-gratis/pajaro-del-gorjeo-en-un-cuadrado-redondeado_318-41054.png" width="40" height="40"></a>

	</div>
	</div>
	</div>
</div>