<div class="container">
	<div class="row">
		<div align="center">
			<h3>Ayuda</h3>
			<p>A continuación se detallan todos los pasos para que tú puedas navegar por esta aplicación sin problemas.</p>
		</div>
	</div>
</div>	


<div class="container">
	<div class="row">
		 <ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">whatshot</i>¿Cómo Registrarte?</div>
		      	<div class="collapsible-body">
		      		<div class="center">
		      		<p>Para poder realizar reservas de disfraces dentro de nuestra aplicación debes estar registrado.<br></br>Para registrarte debes acceder a:</p>
					<a class="waves-effect  waves-light btn-large" href="/clientes/sign_up">Registrar</a>
					<p>Cuando te encuentres en la página de registro, debes completar todos los campos con la información requerida, la cual es de suma importancia, puesto que con ella podrás identificarte dentro de la aplicación.<br></br>Luego que hayas completado los datos y finalizado tu registro, podrás comenzar a utilizar completamente los recursos.</p>
					</div>
	      		</div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">whatshot</i>¿Cómo Reservo Disfraces?</div>
		      	<div class="collapsible-body">
		      		<div class="center">
		      		<p>Para realizar la reserva de disfraces dentro de nuestra aplicación debes ir al catálogo y buscar los disfraces en los que estés interesado.<br></br>A continuación puedes pinchar para ir a la sección Catálogo:</p>
					<a class="waves-effect  waves-light btn-large" href="/disfrazs">Catálogo</a>
					<p>Cuando te encuentres en la página del Catálogo, debes añadir todos los disfraces que estimes conveniente, pinchando el botón "Añadir", que posee cada disfraz.<br></br>
					Al agregar todos los disfraces que quieras, debes dirigirte al carrito, en donde se detalla los disfraces escogidos, además de poder quitar los que quieras.
					<br></br>
					A continuación puedes pinchar para dirigirte al Carro de agendamiento:</p>
					<a class="waves-effect  waves-light btn-large" href="/carrito">Carro de Agendamiento</a>
					<br></br>
					<p>Finalmente, para hacer efectiva la reserva de los disfraces, debes pinchar en el botón "PEDIR", el que está a la derecha, en la sección "Datos Arriendo"</p>
					<br></br>
					</div>
	      		</div>
		    </li>
		    <li>
  		      <div class="collapsible-header"><i class="material-icons">whatshot</i>Más dudas</div>
		      	<div class="collapsible-body">
		      		<div class="center">
		      		<p>Para más dudas, puedes escribirnos directamente vía nuestro formulario de contacto.<br></br></p>
					<a class="waves-effect  waves-light btn-large" href="/home/contacto">Contacto</a>
					<br></br>
					<br></br>
					</div>
	      		</div>
		    </li>
		  </ul>
	</div>
</div>
