<div class="container">
	<div class="row">
		<div align="center">
			<h3>Ayuda</h3>
			<p>A continuación se detallan todos los pasos para que tú puedas navegar por esta aplicación sin problemas.</p>
		</div>
	</div>
</div>	


<div class="container">
	<div class="row">
		 <ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">filter_drama</i>¿Cómo Registrarte?</div>
		      	<div class="collapsible-body">
		      		<div class="center">
		      		<p>Para poder realizar reservas de disfraces dentro de nuestra aplicación debes estar registrado.<br></br>Para registrarte debes acceder a:</p>
					<a class="waves-effect  waves-light btn-large" href="/clientes/sign_up">Registrar</a>
					<p>Cuando te encuentres en la página de registro, debes completar todos los campos con la información requerida, la cual es de suma importancia, puesto que con ella podrás identificarte dentro de la aplicación.<br></br>Luego que hayas completado los datos y finalizado tu registro, podrás comenzar a utilizar completamente los recursos.</p>
					</div>
	      		</div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
		      <div class="collapsible-body">
					<div class="center">
		      			<p>Lorem ipsum dolor sit amet.</p>
		      		</div>
		     	</div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
		      <div class="collapsible-body">
		      	<div class="center">
		      		<p>Lorem ipsum dolor sit amet.</p>
		      	</div>
		      </div>
		    </li>
		  </ul>
	</div>
</div>
