<div class="container">
	<div class="row">
	

		<div align="center">
			
			<h3>Arriendo de Disfraces</h3>

			<p>Acá podrás elegir dentro de una amplia gama de disfraces, los trajes que más te gusten para hacer de tus momentos, ¡ los mejores !</p>

		</div>
	</div>
</div>	

<div class="parallax-container">
    <div class="parallax"><img src="assets/ninos2.jpg"></div>
  </div>
	
<div class="container">
	<div class="row" align="center">
		<p>Si aun no te has registrado, hazlo ahora!</p>
		<a class="waves-effect  waves-light btn-large" href="/clientes/sign_up">Registrate</a>
	</div>
	<div class="row">
		<div class="col l4">
			<div class="card-panel" align="center">
				<i class="fa fa-search fa-5x"></i>
				<h4>Busca</h4>
				Revisa los distintos disfraces de la tienda para vivir tus mejores momentos, en reuniones, fiestas o celebraciones
				con tus familiares o amigos. Para que pasarlo bien, si lo puedes pasar ¡Excelente!
			</div>
		</div>
		<div class="col l4">
			<div class="card-panel green darken-1 white-text" align="center" >
				<i class="fa fa-hand-o-up fa-5x"></i>
				<h4>Selecciona</h4>
				Selecciona los disfraces que quieres tener para tus fiestas y agendalos ! de esa manera reservarás tu elección para que
				nadie más los tenga en esa fecha tan especial. No postergues tus planes.
			</div>
		</div>
		<div class="col l4">
			<div class="card-panel" align="center">
				<i class="fa fa-thumbs-up fa-5x"></i>
				<h4>Solicita</h4>
				Arriéndalos y pasa un buen momento junto a tus amigos o familiares. ¿ Qué mas simple ? aprovecha ya, y disfruta de 
				la gama que tenemos para ti.
			</div>
		</div>
	</div>
</div>