<%= form_for(@transicion_est_vendedor) do |f| %>
  <% if @transicion_est_vendedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transicion_est_vendedor.errors.count, "error") %> prohibited this transicion_est_vendedor from being saved:</h2>

      <ul>
      <% @transicion_est_vendedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
