<div class="row">
	<div class="col s12 m3">
		<div class="card-panel green darken-1 white-text">
			<h4>Editar Disfraz</h4>
			<div class="divider"></div>
			<p>Ac치 puedes editar el disfraz de la tienda que has seleccionado. Ten encuenta que ser치 informaci칩n que los clientes podr치n ver en la pagina web.</p>
		</div>
	</div>
	<div class="col s12 m8">
		<div class="card-panel">
			<h3>Editar disfraz: <%= @disfraz.CATEGORIA_DISFRAZ %></h3>
			<div class="divider"></div>
				<div class="row">
					<div class="col s6 m4">
						<%= image_tag @disfraz.imagen.url(:medium), class: 'breadcrumb'%>
					</div>
					<div class="col s6 m8">
						<%= render 'form2' %>
					</div>
				</div>
		</div>
	</div>
</div>