<h1>Listing detalle_devolucions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_devolucions.each do |detalle_devolucion| %>
      <tr>
        <td><%= link_to 'Show', detalle_devolucion %></td>
        <td><%= link_to 'Edit', edit_detalle_devolucion_path(detalle_devolucion) %></td>
        <td><%= link_to 'Destroy', detalle_devolucion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle devolucion', new_detalle_devolucion_path %>
