<div class="container" class="valign-wrapper" align="center">
	<div class="card-panel red darken-3 white-text">
		<h4><i class="fa fa-times"></i>
 La devolucion del arriendo ha sido rechazado.</h4>
		<div class="divider"></div>

		<h5>El motivo puede darse por muchas razones:</h5>
		<p>Existe un problema con la base de datos</p>
		<p>Algunos datos no pudieron ser guardados.</p>

		<div class="divider"></div>
		<p>Te solicitamos que revises esta información con algún administrativo de la tienda</p>
		<p>Usualmente son fallas humanas, no te asustes.</p>
		<div class="container">
			<%= link_to 'Ir a Arriendos', '/arriendos' ,class: 'waves-effect waves-light btn black-text white'%>
		</div>
	</div>
</div>