<div class="navbar-fixed">
<nav>

    <div class="nav-wrapper ">
    <div class="container">

      
      <%= link_to('ADEDI',root_path, class: "brand-logo") %> 
     <ul id="nav-mobile" class="right hide-on-med-and-down">

      	<% if current_cliente %>
        <!-- BARRA DE CLIENTE -->
          <li><a href="/disfrazs">DISFRACES</a></li>
          <li><a href="/pedidos">MIS SOLICITUDES</a></li>
          <li><a href="/arriendos">MIS ARRIENDOS</a></li>
      		<li><a href="/"><%= link_to "MI PERFIL", "/clientes/#{current_cliente.id}" %></a></li>
        	<li><%= link_to('CERRAR SESIÓN', destroy_cliente_session_path, :method => :delete) %> </li>
        	
		    <% else %>
		

      		<% if current_vendedor %>

            <% if current_vendedor.ES_ADMIN == true %>
            <!-- BARRA DE ADMINISTRADOR -->
              <li><a href="/clientes">CLIENTES</a></li>
              <li><a href="/disfrazs">DISFRACES</a></li>

            <% end %>

            <!-- BARRA DE VENDEDOR -->
      			<li><a href="/">SOLICITUDES</a></li>
		        <li><a href="/">ARRIENDOS</a></li>
		        <li><%= link_to('CERRAR SESIÓN', destroy_vendedor_session_path, :method => :delete) %>   </li>

      		<% else %>

	      		<li><a href="/clientes/sign_in">INICIAR SESIÓN</a></li>
		        <li><a href="/clientes/sign_up">REGISTRAR</a></li>
		        <li><a href="/vendedors/sign_in">ADMIN</a></li>

      		<% end %>
        
        <%end%>
      </ul>
    </div>
    </div>
  </nav>
  </div>

<!-- BARRA DE BOTONES -->
  <br>
  <div class="center">
      
    <a href="/" class="waves-effect waves-light btn ">HOME</a>
    <a href="/" class="waves-effect waves-light btn ">CATÁLOGO</a>
    <a href="/home/acerca" class="waves-effect waves-light btn ">ACERCA</a>
    <a href="/home/contacto" class="waves-effect waves-light btn ">CONTACTO</a>
    <a href="/home/ayuda" class="waves-effect waves-light btn">AYUDA</a>     


  </div>
</br>