<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Arriendo de Disfraces [ADEDI]</h5>
                <p class="grey-text text-lighten-4">Proyecto PBD 2015.</p>
                <p class="grey-text text-lighten-4">Integrantes: Sergio Medina - Rodrigo Mendoza</p>
                <p class="grey-text text-lighten-4">Universidad de Santiago de Chile - 2015</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Enlaces de Utilidad</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/home/acerca">Acerca</a></li>
                  <li><a class="grey-text text-lighten-3" href="/home/ayuda">Ayuda</a></li>
                  <li><a target="_blank" class="grey-text text-lighten-3" href="http://www.usach.cl">Usach</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            USACH
            <a target="_blank" class="grey-text text-lighten-4 right" href="http://materializecss.com/">Materialize</a>
            </div>
          </div>
        </footer>