<% if notice %>
  
  <div class="container">
    <div class="row">

    <p class="notice"><div class="success"><%= notice %>  </div></p>
  </div>
  </div>
  <% end %>

  <% if alert %>
  <div class="container">
  <div class="row">
  <div class="warning">
       <p class="alert"><%= alert %></p>
       </div>
       </div>
       </div>
  <% end %>